<!-- Logo section -->
<tr>
  <td class="bg-dark">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
      <tr>
        <td class="" style="
            text-align: center;
            padding-top: 12px;
            padding-bottom: 12px;">
          <a href="https://chocolatey.ru" title="Ссылка на chocolatey.ru" target="_blank" rel="noopener"
            style="font-size: 0 !important;">
            <img src="https://i.ibb.co/CWcySR2/Logo.png" border="0" width="112" alt="Логотип Chocolatey" />
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- End Logo section -->
